
.preloader .loader i,
.event-section .event-item-inner span,
.couple-section .couple i.fa-heart,
.couple-section .couple h3,
body.dark .header .nav ul li a.active,
header .nav ul li a.active,
body.dark .header .nav ul li a:hover,
header .nav ul li a:hover{
    color: #00dbdb;
}
.event-section .event-item-inner :before,
.couple-section .couple img{
    border-color: #00dbdb;
}
.preloader .loader:before{
    border-right: 3px solid #00dbdb;
}
.setting .s-toggle-btn,
.footer,
body.dark .families-section .filter-btn.active,
.families-section .filter-btn.active,
.event-section,
.couple-section a:hover i{
    background-color: #00dbdb;
}
.event-section .event-item-inner img,
.footer .footer-content .couple-name img{
    filter: hue-rotate(-349deg);
}
.footer-content .couple-name h2{
    color: #ffffff;
}
.footer .footer-section p{
    color: #ffffff;
}
